@charset "UTF-8";

/* ----------------------------------------------------------
  Two images
---------------------------------------------------------- */

body#tinymce.wp-editor .smartlink-two-images {
    margin-bottom: 20px;
    overflow: hidden;
}

body#tinymce.wp-editor .smartlink-two-images > figure {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    border: 1px solid #F0F0F0;
    text-align: center;
}